{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "arrow-parens": [
            "error",
            "always"
        ],
        "consistent-return": [
            "warn"
        ],
        "no-underscore-dangle": [
            "warn"
        ]
    },
    "env": {
        "jest": true
    }
}
